.content {
    margin-left: 250px;
    padding-top: 70px;
    height: auto;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    font-family: "Roboto", sans-serif;
  }
  
  #check:checked~.content {
      margin-left: 60px;
  }
  
  #check {
      display: none;
  }

  .form{
    margin: 75px auto;
    width: 80%;
    border: 2px solid darkblue;
    padding: 20px;
  }

  .title{
    width: auto;
    border-bottom: 5px solid darkblue;
    margin-bottom: 20px;
  }

  .title h1{
    text-align: center;
    text-transform: uppercase;
    color: darkblue;
  }

  .input{
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-around;
    margin-bottom: 8px;
  }

  .input label{
    font-size: 18px;
    font-weight: 700;
  }

  input{
    height: 40px;
    border: 3px solid;
    border-radius: 10px;
  }

  input:focus{
    border: 3px solid darkblue;
  }

  .input button{
    width: 96%;
    cursor: pointer;
    height: 50px;
    color: #fff;
    background: darkblue;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.5s;
  }

  .input button:hover{
    color: darkblue;
    background: #fff;
    transition: 0.5s;
  }

