.content {
    margin-left: 250px;
    padding: 95px 25px 25px 25px;
    height: auto;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    font-family: "Roboto", sans-serif;
  }
  
  #check:checked~.content {
    margin-left: 60px;
  }
  
  #check {
    display: none;
  }
  
  body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
  
  }
  
  .form {
    width: 469px;
    margin: auto auto auto auto;
    margin-top: 15%;
    padding: 20px 45px 20px 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
  }
  
  .form h1 {
    color: #0f2027;
    text-align: center;
  }
  
  .form button {
    padding: 10px;
    margin-top: 10px;
    width: 105%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
  }
  
  .input-control label{
    font-size: 15px;
  }
  
  .input-control input {
    border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  }
  
  .input-control select{
    border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 15px;
  padding: 10px;
  width: 105%;
  }
  
  .input-control input:focus,select:focus {
    outline: 0;
  }
  
  .input-control.success input {
    border-color: #09c372;
  }
  
  .input-control.error input {
    border-color: #ff3860;
  }
  
  .input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  
  button{
    cursor: pointer;
  }