:root {
  --cardWidth: 272.5px;
  --cardHeight: 280px;
  --cardMargin: 16px;
}

.content {
  margin-left: 250px;
  padding: 95px 25px 25px 25px;
  height: auto;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  font-family: "Roboto", sans-serif;
}

#check:checked~.content {
  margin-left: 60px;
}

#check {
  display: none;
}

h1 {
  margin: 0;
  padding: 8px 48px;
  background: #333;
  color: #fff;
  font-size: 24px;
}

.main-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #bbb;
  padding-bottom: 10px;
}
.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: var(--cardMargin);
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
}

.card .head{
  background-color: black;
  color: white;
  padding: 10px;
}

.card .head span{
  font-size: 20px;
}

.card .image img{
  width: 265px;
  padding: 3px;
  border-radius: 6px;
}

.card a {
  color: inherit;
  text-decoration: none;
}
.card-thumb {
  width: 100%;
  text-align: center;
}
.card-thumb img {
  width: 80px;
}
.card-title {
  margin: 5px 0;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
}
.card-excerpt {
  font-size: .75rem;
  letter-spacing: 1px;
  text-align: center;
}
.card:hover {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, .2);
	transform: translateY(-4px);
  transition: 0.5s;
}

.card .image img {
  width: 265px;
  height: 185px;
}

.card .button button{
  width: 75%;
  color: #fff;
  background-color: #0c4872;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

table{
  border-collapse: collapse;
}

table caption{
  font-size: 20px;
  font-weight: 900;
}

table, th, td {
 border: 1px solid #ddd;
}

table thead tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0c4872;
  color: white;

}

table tbody tr td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

table tbody tr:nth-child(odd){
  background-color: #f2f2f2;
}

table tbody tr:hover{
  background-color: #ddd;
  cursor: pointer;
}

::-webkit-scrollbar{
  display: none;
}  